# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.rc
terraform.rc

# Ansible
*.retry
*.pem

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# My Secrets (Just in case)
StudyHallKey.pem
ProjectKey.pem
sanjil-jenkins-key.pem
